[submodule "test/hoge/lib/forge-std"]
	path = test/hoge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hello_foundry/lib/forge-std"]
	path = hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hello_foundry/lib/solmate"]
	path = hello_foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
